{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="container">
        <h1>Our Team</h1>
        <div class="row">
            {% for teamMember in teamMembers %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ teamMember.picture }}" class="card-img-top" alt="{{ teamMember.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ teamMember.name }}</h5>
                            <p class="card-text">{{ teamMember.job }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}